.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: cyan;
  text-align: center;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.main-content{
  margin-top: 50px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar p {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  margin: 0px;
  background-color: #dddddd;
}

/* Active/current link */
.sidebar p.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar p:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 16px 16px;
}

iframe.youtube-video {
  width: 800px; 
  height: 450px; /* 100/56.25 = 560/315 = 1.778 */
}

.video-description {
  width: 100%;
  background-color: lightgray;
  padding: 5px;
  margin-top: 10px;
}

.video-description p{
  margin: 0px;
}